<% provide(:title, 'Search') %>
<h1>Your Search for <%=params[:search] %></h1>
<%= will_paginate %>
  <ul class="questions">
      <% @questions.each do |question| %>
      <li><h4><%= link_to question.header, question %></h4>
        <h5><%= question.content.truncate(100)%></h5></li>
      <% end %>
  </ul>
<%= will_paginate %>