<% provide(:title, "Home") %>
<h1>Home</h1>
<p>
  <%= form_with(url: search_path , method: "get") do %>
    <%= label_tag(:search, "Search for:")  %>
    <%= text_field_tag(:search)%>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>

</p>
