<%= form_for(Comment.new) do |f| %>
  <div class="comment">
    <%= f.text_area :content, placeholder: "Comment Here" %>
  </div>
  <%=f.hidden_field :commentable_id, value: obj_id %>
  <%=f.hidden_field :commentable_type, value: obj_type %>
  <%= f.submit "Comment ", class: "btn btn-primary" %>
<% end %>