<%= form_for(Answer.new) do |f| %>
  <div class="answer">
    <%= f.text_area :content, placeholder: "Answer Here" %>
  </div>
  <%=f.hidden_field :question_id, value: question.id %>
  <%=f.hidden_field :user_id, value: @current_user.id %>
  <%= f.submit "Answer ", class: "btn btn-primary" %>
<% end %>