<% provide(:title, 'All Users') %>
<h1>All  Users</h1>
<%= will_paginate %>
<ul class="user">
  <% @user.each do |user| %>
    <li><h4><%= link_to user.name,user %></h4>
      <h5><%= user.reputation%></h5></li>
    <% if current_user.admin? %>
      <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  <% end %>
</ul>
<%= will_paginate %>